server {
  listen $PORT default_server;
  types {
      module js;
    }
    include       /etc/nginx/mime.types;
  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
  }
}
