.appContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.appBody {
  text-align: center;
  /* padding: 10% 5% 10% 5%; */
  padding: 2.5%;
  /* height: 100vh; */
}




